*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html,
body {
    font-family: 'Jost', sans-serif;
}

/* Light theme */
#myBody{
    background-color:white;
  }
  #switchButton {
    background-color: white;
  }
  #switchButton .gg-sun {
    display: none;
  }
  #switchButton .fa-moon {
    display: block;
  }
  
  /* Dark Theme*/
  .dark#myBody{
    background-color:black;
  }
  
  .dark #switchButton {
    background-color: black;
  }
  
  .dark #switchButton .gg-sun {
    display: block;
    color: white;
  }
  
  .dark #switchButton .fa-moon {
    display: none;
  }

  .dark .navbar-light .navbar-nav .nav-link {
    color: white;
}

.dark .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color: #189A46;
}


/* HEADER */
header{
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: #fff;
  top: 40px;
  left: 0;
  display: flex;
}

.dark header{
  background-color: black;
}
header .container nav {
  justify-content: space-between;
}

.container nav .navbar-brand {
  color: #189A46;
  font-size: 34px;
  font-weight: 600;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
  color: #189A46;
}

.nav-item {
  padding: 10px;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: #189A46;
}

.navbar-light .navbar-nav .nav-link {
  transition: all 0.5s ease;
  font-size: 1.2em;
  font-weight: 400;
  position: relative;
  color: #000c04;
}

.navbar-light .navbar-nav .nav-link::after, .dropdown-item::after{
  content: "";
  display: block;
  height: 1px;
  width: 0;
  opacity: 0;
  background-color: #189A46;
  transition: all 0.5s ease-in;
}

.dropdown-item:hover::after,
.dark .navbar-light .navbar-nav .nav-link:hover::after, .navbar-light .navbar-nav .nav-link:hover::after {
  opacity: 1;
  width: 100%;
  color: #189A46;
}

.fa-solid,
.fas {
  font-size: 14px;
  padding-left: 2px;
  font-weight: 600;
}

.dropdown-toggle::after {
  margin-left: 0;
  vertical-align: 0;
  content: "";
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
}

#navbar .navbar-nav .nav-item.active .navlink::after{
  content: "";
  display: block;
  height: 1px;
  width: 0;
  opacity: 0;
  background-color: #189A46;
  transition: all 0.5s ease-in;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover, .dark .navbar-light .navbar-nav .nav-link:focus, .dark .navbar-light .navbar-nav .nav-link:hover{
  color: #189A46;
}

.navbar-expand-lg .navbar-nav .dropdown-menu:before {
  content: '';
  width: 14px;
  height: 14px;
  background: #fff;
  border: 1px solid #ddd;
  display: block;
  border-right: none;
  border-bottom: none;
  transform: translateX(-50%) rotateZ(45deg);
  position: absolute;
  top: -7px;
  left: 49%;
  z-index: 1001;
}

a.dropdown-item {
  font-weight: 400;
  font-size: 1.2em;
  position: relative;
  color: #000c04;
  display: block;
  padding-bottom: 14px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 0;
  padding-right: 0;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  transform: translateX(-25px);
}

.dropdown-menu{
  background-color: white;
}

.dropdown-item:focus, .dropdown-item:hover {
  background: white;
}


/* CAROUSEL */
.carouselPooch{
  position: relative;
}

.carouselPooch::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0c0c0c;
  opacity: 0.6;
}

#carouselPoochCaptions .carousel-item1{
  position: relative;
  background-image: url(../img/banner1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: calc(100vh - 40px);
}

#carouselPoochCaptions .carousel-item2{
  position: relative;
  background-image: url(../img/banner2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: calc(100vh - 40px);
}

#carouselPoochCaptions .carousel-item3{
  position: relative;
  background-image: url(../img/banner3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: calc(100vh - 40px);
}

#carouselPoochCaptions .carousel-item4{
  position: relative;
  background-image: url(../img/banner4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: calc(100vh - 40px);
  
}

#carouselPoochCaptions .carousel-caption.carousel1{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: left;
}

#carouselPoochCaptions .carousel-caption.carousel2{
  left: 85%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: left;
}

#carouselPoochCaptions .carousel-caption.carousel3{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: left;
}

#carouselPoochCaptions .carousel-caption.carousel4{
  left: 85%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: left;
}


#carouselPoochCaptions .carousel-caption h5{
  font-size: 66px;
  line-height: 76px;
  font-weight: 700;
  color: #fff;
}

#carouselPoochCaptions .carousel-caption p{
  color: #fff;
  font-weight: 400;
  line-height: 30px;
  opacity: 0.9;
}

#carouselPoochCaptions .carousel-caption button{
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  transition: 0.3s ease-in;
  border-radius: 10px;
  background-color: #fff;
}

#carouselPoochCaptions .carousel-caption button:first-of-type{
  color: #189A46;
}

#carouselPoochCaptions .carousel-caption button:last-of-type{
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  transition: 0.3s ease-in ;
}

#carouselPoochCaptions .carousel-caption button:last-of-type:hover{
  background-color: #fff;
  color: #189A46;
}
#carouselPoochCaptions img{
  height: 100vh;
  object-fit: cover;
  width: 100vh;
}

#carouselPoochCaptions .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 25px;
  border: none;
  margin: 5px 6px;
}
#carouselPoochCaptions .carousel-indicators li.active{
  width: 30px;
  height: 10px;
  background-color: #189A46;
}

#carouselPoochCaptions .carousel-indicators li:hover{
  width: 30px;
  height: 10px;
  background-color: #189A46;
}

/* ABOUT */

.about__inner{
  margin: 0 auto;
  max-width: 700px;
}

.title__p{
  font-size: 18px;
  font-weight: 400;
  line-height: 2em;
  letter-spacing: 1px;
  color: #f53626;
  margin-bottom: 0;
}

.title__h5{
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  margin-bottom: 0;
}

.read{
  color: #000c04;
  font-size: 17px;
  font-weight: 600;
  border-radius: 0;
  margin-top: 20px;
  transition: 0.3s ease-in-out;
  border-bottom: 2px solid #189A46;
  display: inline-block;
}

.read:hover{
  color: #189A46;
  text-decoration: none;
}

.dark .title__h5, .dark .about__inner a{
  color: white;
}

/* FEATURES */
.features{
  background-color: rgba(147, 107, 232, 0.05);
}

.card-item{
  padding: 40px 30px;
  transition: all 0.5s ease 0s;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 30px;
}

.card-item:hover{
  background-color: rgba(147, 107, 232, 0.05);
  cursor: pointer;
}

.card-item i{
  color: #189A46;
  font-size: 30px;
}

.card-item a:first-of-type{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #000c04;
  position: relative;
  top: 100%;
  display: block;
}

.card-item a{
  text-decoration: none;
}

.card-item a:first-of-type:hover{
  color: #189A46;
}

.card-item p{
  font-size: 1.2em;
  line-height: 28px;
  color: #696969;
}

.dark .card-item{
  background-color: #151515;
}

.dark .features,.dark .card-item:hover{
  background-color: #222;
}

.dark .card-item a{
  color: #ddd;
}

.dark .card-item p{
  color: #afafaf;;
}

/* SERVICES */

.services__item img{
  border-radius: 10px;
}

.services__item p{
  font-size: 16px;
  line-height: 24.5px;
  margin: 15px 0 35px 0;
}

.services__item ul li{
  line-height: 26px;
  color: #000c04;
  margin: 15px 0;
  font-weight: 600;
}

.services__item ul li i{
  color: #189A46;
  margin-right: 12px;
  background-color: rgba(147, 107, 232, 0.05);
  font-size: 10px;
  padding: 8px;
  border-radius: 50%;
}

.dark .services__item p:last-of-type{
  color: #afafaf;
}

.dark .services__item ul li{
  color: #fff;
}

/* NUMBER */

.number{
  background-color: #189A46;
}

.number__item h5{
  font-size: 50px;
  line-height: 60px;
  font-weight: 600;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 0;
}

.number__item p{
  font-size: 20px;
  line-height: 25px;
  text-transform: capitalize;
  color: #fff;
  margin-top: 10px;
  opacity: 0.8;
  font-weight: 400;
}

.backToTop{
  width: 48px;
  height: 48px;
  line-height: 48px;
  background-color: #189A46;
  font-size: 18px;
  border: none;
  border-radius: 50px;
  text-align: center;
  color: #fff;
  position: fixed;
  right: 15px;
  bottom: 90px;
  opacity: 0;
  transition: 0.3s ease-out;
  text-decoration: none;
}

.backToTop:hover{
  text-decoration: none;
  color: #fff;
  transform: translateY(-5px);
}

.cd-top--is-visible {
  opacity: 1;
}

/* PLAN  */

.dark .plan {
  background-color: #222;
}

.plan {
  background-color: rgba(147, 107, 232, 0.05);
}

.title h6 {
  color: red;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
}

.title h3 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
  color: black;
}

.plan__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 5% auto;
}


.plan__item.item1 .item__content {
  padding: 3.5em 2.5em;
  border-right: 0;
}

.plan__item.item3 .item__content {
  padding: 3.5em 2.5em;
  border-right: 0;
}

.dark .plan__item.item1,
.dark .plan__item.item2,
.dark .plan__item.item3 {
  background-color: #151515;
}

.dark .plan__item h6 {
  color: #ddd;
}

.dark .plan__item .item__bottom p {
  color: #afafaf;
}

.dark .nutrition__title h3 {
  color: #ddd;
}

.dark .nutrition__title p {
  color: #696969;
}

.plan__content .item1 {
  background: white;
  border-radius: 6px;
  align-self: center;
}

.plan__content .item2.active {
  z-index: 1;
  margin: 0;
  box-shadow: 0 10px 30px 0 rgb(17 17 17 / 9%);
  border-radius: 6px;
}

.plan__content .item2 {
  background: white;
  border-radius: 6px;
  align-self: center;
}

.plan__content .item3 {
  background: white;
  border-radius: 6px;
  align-self: center;
}

.plan__item h6 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
  color: black;
}

.plan__item h4 {
  font-size: 40px;
  line-height: 45px;
  margin: 15px 0 20px;
  text-align: center;
  font-weight: 600;
  color: #189a46;
}

.plan__item h4 label {
  font-size: 25px;
  vertical-align: text-top;
}

.plan__item h4 span {
  font-size: 16px;
  line-height: 25px;
  color: #999;
  font-weight: 400;
}

.plan__item .item__bottom {
  padding-top: 1em;
}

.plan__item .item__bottom ul {

  min-height: 120px;
}

.plan__item .item__bottom li {
  list-style: none;
  margin-bottom: 5px;
  color: #304659;
}

.plan__item .item__bottom p {
  font-size: 18px;
  line-height: 28px;
  font-weight: normal;
  align-self: center;
  padding-top: 6px;
}

.item__bottom .btn-style {
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.3s ease-in;
  border-radius: 10px;
}


.plan__item.active .item__top {
  padding: 3em 2.5em 0.5em;
  background: #189a46;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.plan__item.active .item__bottom {
  padding: 2em 2.5em 3.5em;
}

.plan__item.item2 h5 {
  font-size: 15px;
  line-height: 20px;
  color: #189a46;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 700;
  display: inline-block;
  padding: 8px 20px;
  background: #fff;
  border-radius: 10px;
}

.plan__item.item2 h6 {
  color: white
}

.plan__item.item2 h4 {
  color: white;
}

.plan__item.item2 h4 span {
  color: #eee;
}

/* NUTRITION  */
.nutrition {
  background: white;
}

.dark .nutrition {
  background-color: #151515;
}

.nutrition__block {
  display: grid;
  align-items: center;
}

.nutrition__content {
  max-width: 950px;
  margin: 0 auto;
}

.nutrition__title h6 {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  color: #f53626;
}

.nutrition__title h3 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
  color: black;
}

.nutrition__title p {
  font-size: 1.2em;
  line-height: 28px;
  color: #696969;
}

#small-dialog iframe {
  width: 100%;
  height: 400px;
  display: block;
}

.video__content a {
  text-decoration: none;
  background-color: transparent;
  color: #189a46;
}

.nutrition__video span.video-play-icon {
  background: #fff;
  display: inline-block;
  width: 55px;
  height: 55px;
  line-height: 55px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  animation: ripple 1s linear infinite;
}

.nutrition__video span.video-play-icon span {
  color: #189a46;
}

.nutrition__video span.fa.fa-play {
  line-height: 55px;
}

.nutrition__video .radius-image {
  border-radius: 10px;
}

.nutrition__video .play-view {
  left: 0;
  right: 0;
  top: calc(50% - 40px);

}

/* TESTIMONIAL  */
.dark .testimonials {
  background-color: #222;
}

.dark .testimonials__title h3,
.dark .testimonials__text h3 {
  color: #ddd;
}

.dark .testimonials__item {
  background: #151515;

}

.dark .testimonials__item blockquote q {
  color: #aaaaaa;
}


.testimonials {
  background: rgba(147, 107, 232, 0.05);
}

.testimonials__title h6 {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  color: #f53626;
}

.testimonials__title h3 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
  color: black;
}


.testimonials__item {
  display: block;
  margin: 0;
  padding: 40px 30px;
  position: relative;
  background: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0 25px 98px 0 rgb(19 19 19 / 3%);
}

.testimonials__item blockquote {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  position: relative;
  margin-bottom: 1.5em;
}

.testimonials__item blockquote q {
  font-size: 1.2em;
  line-height: 28px;
  color: #696969;
}

.testimonials__item blockquote q::before {
  font-size: 50px;
  color: #189a46;
  line-height: .8;
  padding-top: 8px;
  font-weight: 600;
  display: inline-block;
  font-family: "Merriweather", serif;
}

.testimonials__des {
  display: flex;
  text-align: center;
}

.testimonials__img {
  width: 70px;
  height: 70px;
  display: inline-block;
  overflow: hidden;
  background: white;
  border-radius: 50%;
}

.testimonials__img img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;

}

.testimonials__text {
  margin-left: 10px;
  text-align: left;
}

.testimonials__text h3 {
  font-weight: 600;
  font-size: 20px;
  color: black;
}

.testimonials__text p {
  color: #777;
  font-size: 17px;
  font-style: normal;
  margin-bottom: 0;
  text-align: left;
  opacity: 0.8;
  margin-top: -4px;
}

/* Không hiện nút mũi tên thanh nav */
.owl-carousel .owl-nav {
  display: none;
}

/* Hiệu ứng nút tròn bung ra màu xanh 
*/
.testimonials .owl-carousel.owl-theme .owl-dots {
  position: inherit;
  left: 0px;
  right: 0px;
  bottom: 30px;
  margin-top: 80px;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  background: transparent;
}

.owl-theme .owl-dots .owl-dot.active span {
  background: #189a46;
  width: 30px;
  height: 10px;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 8px;
  background: #d8d8d8;
  display: block;
  transition: opacity .2s ease;
  border-radius: 25px;
  position: relative;
}

.owl-theme .owl-dots .owl-dot:hover span {
  background: #189a46;
  width: 30px;
  height: 10px;
}


/* UPDATE  */
.dark .update {
  background-color: #151515;
}

.dark .update__title h3 {
  color: #ddd;
}

.dark .update__title p {
  color: #696969;
}

.update__content {
  max-width: 650px;
}

.update__title h3 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
  color: black;
}

.update__title p {
  font-size: 1.2em;
  line-height: 28px;
  color: #696969;
}


.update__sub {

  justify-content: space-between;
}

.update__content form input {
  font-size: 16px;
  color: #d8d8d8;
  border-radius: 10px;
  padding: 0px 20px;
  height: 60px;
  flex-basis: 70%;
  background: #fff;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

.update__content form button {
  flex-basis: 27%;
}

.form-control:focus {
  border: 1px solid #189a46;
  box-shadow: none;
}

.btn-style {
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.3s ease-in;
  border-radius: 10px;
}

/* FOOTER  */
.dark .footer__contact ul li p strong {
  color: #afafaf;
}

footer {
  background: #111;
}

footer h6 {
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  margin-bottom: 25px;
}

/* FOOTER CONTACT  */
.footer__top ul li {
  list-style: none;
  margin-bottom: 5px;
}

.footer__top ul li p {
  font-weight: normal;
  font-size: 16px;
  color: #696969;
  line-height: 28px;
}

.footer__top ul li a {
  font-weight: normal;
  font-size: 16px;
  color: #696969;
  line-height: 28px;
}

/* Hiệu ứng hover toàn bộ thẻ a đổi sang chữ trắng  */
.footer__top ul li a:hover {
  text-decoration: underline;
  color: #fff;
}

/* Footer icon  */
.footer__icon ul.social-icons {
  margin-top: 3px;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.footer__icon ul.social-icons li {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 0;
}

.footer__icon ul.social-icons li a {
  display: block;
  text-decoration: none;
}

.footer__icon ul.social-icons li a i {
  font-size: 16px;
  color: #696969;
}

.footer__icon ul.social-icons li i:hover {
  color: white;
  transition: 0.3s ease-in;
}

/* COPPY RIGHT  */
.footer__coppyright {
  background: #111;
  border-top: 1px solid rgba(103, 99, 99, 0.14);
}

.footer__coppyright a {
  color: #f53626;
  opacity: 0.9;
}

/* hiệu ứng animation nút play  */
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(15, 162, 66, 0.164), 0 0 0 10px rgba(15, 162, 67, 0.25), 0 0 0 20px rgba(15, 162, 67, 0.25);
  }

  100% {
    box-shadow: 0 0 0 10px rgba(15, 162, 67, 0.25), 0 0 0 20px rgba(15, 162, 67, 0.25), 0 0 0 40px rgba(50, 100, 245, 0);
  }

}

/* RESPONSIVE FOOTER  */

@media screen and (max-width: 1200px) {
  #carouselPoochCaptions .carousel-caption h5 {
    font-size: 52px;
    line-height: 62px;
  }

}

@media screen and (max-width: 992px) {
  #carouselPoochCaptions .carousel-caption h5 {
    font-size: 50px;
    line-height: 55px;
  }

  #carouselPoochCaptions .carousel-caption.carousel2,
  #carouselPoochCaptions .carousel-caption.carousel4 {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
  }
}

@media screen and (max-width: 991px) {
  .navbar-light .navbar-toggler {
    background-color: #189A46;
  }

  #navbar .navbar-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .nav-item {
    padding: 6px 0;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
  }

  #switchButton {
    position: absolute;
    right: 15%;
    top: 35px;
    transform: translate(-50%, -50%);
  }

  .dropdown-item:hover::after,
  .dark .navbar-light .navbar-nav .nav-link:hover::after,
  .navbar-light .navbar-nav .nav-link:hover::after {
    opacity: 0;
    width: 0;
    color: transparent;
  }
}

@media screen and (max-width:768px) {
  #carouselPoochCaptions .carousel-item {
    min-height: 580px;
  }

  .plan__content {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width:667px) {
  .update .update__content button {
    flex-basis: 100%;
    display: block;
    width: 100%;
    margin-top: 16px;
  }
}

@media screen and (max-width:600px) {
  #carouselPoochCaptions .carousel-item {
    min-height: 500px;
  }
}

@media screen and (max-width:480px) {
  #carouselPoochCaptions .carousel-item {
    min-height: 480px;
  }

  #carouselPoochCaptions .carousel-caption h5 {
    font-size: 32px;
    line-height: 42px;
  }
}